@import url(https://fonts.googleapis.com/css?family=Raleway);
.App {
  justify-content: center;
  margin: auto;

}
body {
  font-family: "Raleway", sans-serif;
  font-size: 14pt;
  margin: 0px auto;
  background-color: #182036;
  color: white;
  /* max-height: 100vh;
  min-width: 100%;
  min-height: 100vh; */
}
h2 {
  font-weight: normal;
  letter-spacing: 4px;
  font-size: 48pt;
  margin: 5px;
  text-transform: uppercase;
}
.horizontal-bar {
  border-top: 6px solid #e8f05b;
  width: 100px;
  margin: 0px auto;
  padding-bottom: 50px;
}
p {
  text-align: left;
  line-height: 1.4;
  letter-spacing: 1px;
  font-size: 12pt;
  padding: 10px;
}
h3 {
  font-weight: normal;
  letter-spacing: 2px;
  font-size: 16pt;
  margin-top: 13px;
  /* margin: 7px auto; */
}
h4 {
  font-size: 12pt;
  padding: 5px;
}
.typing-demo {
  white-space: nowrap;
  overflow: hidden;
  font-size: 28pt;
  font-weight: normal;
  color: #e8f05b;
  letter-spacing: 2px;
}
#h2-header {
  text-transform: none;
  font-size: 28pt;
}
.header {
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
  min-height: 100vh;
}
.project-image {
  width: 450px;
  height: 320px;
  transition: 0.7s ease;
  backface-visibility: hidden;
  /* opacity: 0.7; */
}
.view-button {
  text-align: right;
  bottom: 0;
  position: absolute;
  right: 0;
  margin-bottom: 13px;
  padding: 7px;
  border: 2px solid white;
  text-transform: uppercase;
}
.icon {
  width: 50px;
  height: 50px;
}
.icon:hover {
  opacity: 0.3;
}
/* #about-section {
  max-height: 100vh;
} */
.aboutme-container {
  display: flex;
  flex-direction: column;
  position: relative;
  /* min-height: 100vh; */
}
.aboutme {
  max-width: 500px;
}
.aboutme-details {
  display: flex;
  flex-direction: row;
  justify-content: center;

}
.profile-pic {
  border-radius: 700px;
  max-height: 400px;
  width: auto;
  /* border: 3px solid #e8f05b; */
  opacity: 0.6;
  top: 0;
  margin: 15px;
}
.profile-pic:hover {
  opacity: 1;
}
.programming-icons {
  height: 50px;
  width: auto;
  padding-right: 20px;
}
.framework-container {
  /* height: 100vh; */
  border: white solid 2px;
}
#framework {
  text-align: center;
}
#projects-section {
  align-items: center;
  justify-content: center;
}
.projects-container {
  margin-top: 100px;
  position: relative;
  margin-right: 0px;
  overflow: hidden;
}
.projects {
  display: inline-grid;
  max-width: 950px;
  width: 450px;
  height: 320px;
  margin: 20px;
  box-shadow: 2px 5px 8px #808080;
  position: relative;
  opacity: 0.9;
  /* overflow: scroll; */
}
.projects .overlay {
  background: rgba(0, 0, 0, 0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  opacity: 0;
  /* transition: all 0.6s ease-in-out 0s; */
}
.projects:hover .overlay {
  opacity: 1;
  background: #151821;
}
.project-details {
  position: absolute;
  text-align: center;
  width: 370px;
  height: 280px;
  left: 50%;
  opacity: 0;
  transform: translate(-50%, -50%);
  transition: all 0.3s ease-in-out 0s;
}
.projects:hover .project-details {
  opacity: 1;
  top: 50%;
  left: 50%;
}
.fadeIn-bottom {
  top: 50%;
}
.project-site {
  /* border: 2px solid #e8f05b; */
  text-decoration: none;
  color: #ffffff;
  letter-spacing: 1px;
  font-size: 12pt;
  text-align: right;
}
.project-p {
  padding: 0px auto;
  margin: 0px auto;
}
.disable {
  opacity: 0.3;
  pointer-events: none;
}
.project-site:hover {
  color: #e8f05b;
}
.overlay {
  top: 0;
  left: 0;
  width: 450px;
  height: 300px;
}
/* button.close {
  position: absolute;
  right: 0;
  font-size: 14pt;
  padding: 10px;
} */
.tools {
  font-weight: normal;
  color: #e8f05b;
  padding: 0px auto;
  margin: 0px auto;
}
.contact-container {
  /* height: 100vh; */
  margin-top: 20px;
  padding-top: 50px;
  position: relative;
}
input {
  display: inline-block;
  width: 50%;
  line-height: 3em;
  font-family: "Raleway", sans-serif;
  font-size: 12pt;
  color: #ffffff;
  background: #2f364a;
  border: none;
}
input[type="text"]:focus {
  outline: 1x solid #e8f05b;
}
input[type="email"]:focus {
  outline: 1px solid #e8f05b;
}
textarea {
  width: 50%;
  line-height: 6em;
  font-family: "Raleway", sans-serif;
  font-size: 12pt;
  background: #2f364a;
  border: none;
  color: #ffffff;
}
textarea:focus {
  outline: 1px solid #e8f05b;
}
#submit-button {
  height: 50px;
  width: 150px;
  text-transform: uppercase;
  /* border-color: #e8f05b; */
  color: white;
  background: #182036;
  font-size: 14pt;
  letter-spacing: 2px;
  border: none;
}
#submit-button:hover {
  color: #e8f05b;
}
.contact-icon {
  height: 50px;
  width: auto;
  padding: 20px;
  display: inline;
}
.contact-icon:hover {
  opacity: 0.3;
}
#social-links {
  bottom: 0;
  margin-top: 50px;
}
.section {
  font-size: 20pt;
}
a {
  color: white;
  font-size: 18pt;
  letter-spacing: 2pt;
  /* padding-left: 25px; */
}
a:hover {
  color: #e8f05b;
}
.navbar {
  text-align: right;
  padding-top: 15px;
  max-width: 99%;
}
.navbar > a {
  margin-left: 25px;
}
.resume {
  border: #e8f05b solid 2px;
  padding: 10px;
  text-decoration: none;
}
.modal-background {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.2);
}
.modal {
  box-shadow: 0 5px 16px rgba(0, 0, 0, 0.2);
  position: relative;
  z-index: 1;
}
.demo:hover {
  cursor: pointer;
}
.contact-h4 {
  margin: 0px auto;
  padding: 0px auto;
  color: #e8f05b;
  letter-spacing: 2px;
}
.contact-h3 {
  margin: 0px auto;
  padding-bottom: 7px;
}
.icon-align {
  bottom: 0;
  position: absolute;
  left: 0;
  text-align: left;
}

@media (max-width: 1100px) {
  .html{
    /* max-width: 500px; */
    /* margin: 0 auto;
    padding: 0px auto; */
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    /* min-width: 100vh; */
  }
  .App {
    justify-content: center;
    max-width: 600px;
    margin: 0px 10px 0px 10px;
  }
  body {
    /* min-width: 100vw; */
    justify-content: center;
    display: flex;
  }
  .navbar > a {
    padding-right: 3px;
    margin: 7px;
    font-size: 0.7rem;
  }
  #h2-header {
    font-size: 1.2rem;
    word-wrap: break-word;
    letter-spacing: 1px;
  }
  h2 {
    font-size: 1rem;
  }
  .typing-demo {
    font-size: 1.2rem;
    word-wrap: break-word;
    letter-spacing: 2px;
    position: absolute;
    display: block;
    margin-top: 50px;
  }
  h3 {
    font-size: 0.7rem;
  }
  h4 {
    font-size: 8pt;
  }
  .aboutme-container {
    max-width: 500px;
    position: relative; 
    margin-bottom: 100px;
    align-items: center;
    justify-content: center;
    /* display: inline-grid; */
  }
  p.aboutme {
    position: relative;
    margin: 0px 12px 0px 12px;
  }
  p {
    font-size: 0.7rem;
  }
  .profile-pic {
    text-align: center;
    z-index: 0;
    position: absolute;
    width: 250px;
    top: 50%;
    left: 50%;
    margin-top: -600px;
    margin-left: -130px;

    
  }
  .projects-container {
    /* padding: 0px auto; */
    margin: 0px auto;
    position: relative;
    overflow: auto;
    justify-content: center;
  }
  .projects {
    width: 330px;
    height: 220px;
    position: relative;
    margin-left: 10px;
    padding-left: 0px;
    box-shadow: none;
    overflow: hidden;
  }
  .projects .overlay {
    width: 330px;
    height: 220px;
  }
  .project-image {
    width: 330px;
    height: 220px;
    margin-left: none;
  }
  .project-details {
    width: 300px;
    height: 220px;
  }
  .project-p {
    font-size: 8pt;
  }
  .icon {
    width: 25px;
    height: 25px;
  }
  .contact-icon {
    width: 30px;
    height: 30px;
  }
  #submit-button {
    font-size: 0.5rem;
  }
  .input {
    font-size: 0.5rem;
  }
  .programming-icons {
    height: 30px;
    width: 30px;
  }
  .project-site {
    font-size: 0.5rem;
  }
  .view-button {
    border: none;
    bottom: 0;
    position: absolute;
    right: 0;
  }
  .icon-align {
    bottom: 0;
    position: absolute;
    left: 0;
    text-align: left;
    margin-bottom: 12px;
  }
  textarea {
    font-size: 0.7rem;
  }
  input {
    font-size: 0.7rem;
  }
  /* .horizontal-bar {
    width: 50px;
  } */
  .modal {
    min-width: 150px;
    min-height: 75px;
    position: absolute;
  }
}
