@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
  font-family: arial;
  font-size: 14pt;
  max-width: 90%;
  margin: auto;
}
h2 {
  font-weight: normal;
  letter-spacing: 3px;
  font-size: 32pt;
  padding: 0;
  margin: 0;
}
p {
  text-align: left;
  line-height: 1.6;
  letter-spacing: 1px;
  font-size: 10pt;
  /* padding: 0px 70px 0px 70px; */
}
h3 {
  font-weight: normal;
  /* margin: 0px auto; */
}

.typing-demo {
  white-space: nowrap;
  overflow: hidden;
  font-size: 32pt;
  font-weight: normal;
  color: #927B7B;
  letter-spacing: 2px;
}
.header {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: pre-wrap;
}
img {
  width: 550px;
  height: 370px;
  /* border-bottom: #F3F3F3 1px solid; */
  transition: .7s ease;
  backface-visibility: hidden;
  opacity: 1;
  /* display: block; */

}
.icon {
  width: 50px;
  display: inline;
  height: 50px;
}
/* .icon:hover {
  background: none;
} */

.aboutme-container {
  /* display: flex; */
  height: 100vh;
  border: 2px solid black;
  display: inline-grid;

  /* background: #927B7B;
  opacity: 0.7; */
}
.aboutme-details {
}
.aboutme {
  text-align: left;
  max-width: 800px;
  padding: 30px;
  display: flex;
}
.profile-pic {
  border-radius: 8px;
  width: 350px;
  height: auto;
  opacity: 1;
  padding: 30px;
  display: inline;
}
.projects-container {
  /* display: flex; */
  height: 100vh;
  margin-top: 20px;
  padding-top: 50px;
}
.projects {
  display: inline-grid;
  border:#F3F3F3 1px solid;
  width: 550px;
  height: 370px;
  margin: 20px;
  box-shadow: 2px 6px 8px #ccc;
  position: relative;
  overflow: hidden;
  
}
.projects .overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}
.projects:hover .overlay {
  opacity: 1;
  background: white;
}
.project-details{
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}
.projects:hover .project-details {
  opacity: 1;
  top: 50%;
  left: 50%;
}
.fadeIn-bottom {
  top: 10%;
}
.project-site {
  border: 3px solid #927B7B;
  padding: 10px 30px;
}
.project-p {
  padding: 0px 30px 15px 30px;
}
a {
  text-decoration: none;
  color: black;
  letter-spacing: 1px;
}
a:hover {
  background: #927B7B;
  color: white;
}
.overlay {
  position: absolute;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.tools {
  font-weight: normal;
  color: #927B7B;
  padding: 0px auto;
  margin: 0px auto;
}
.contact-container {
  /* display: flex; */
  height: 100vh;
  /* background: #927B7B; */
  /* opacity: 0.7; */
  margin-top: 20px;
  padding-top: 50px;
}
input {
  display: inline-block;
  width: 50%;
  line-height: 3em;
}
textarea {
  width: 50%;
  line-height: 6em;
}
#submit-button {
  height: 50px;
  width: 100px;
  text-transform: uppercase;
  border-color: white;
  color: white;
  background-color: #927B7B;
}
.margin {
  margin: 0px auto;
}
.contact-container {
  position: relative;
}
.contact-icon {
  height: 50px;
  width: auto;
  padding: 20px;
  display: inline;
}
#footer {
  bottom: 0;
  position: absolute;
}